<!-- Page Content -->
<!-- <div class="container"> -->

  <!-- Heading Row -->
  <div class="row my-4">
      <div class="col-lg-12 align-content-center">
        <!-- <img class="img-fluid rounded" src="http://placehold.it/900x400" alt="">
      </div> -->
      <!-- /.col-lg-8 -->
      <!-- <div class="col-lg-4"> -->
        <h1>1° Meetup Xamarin Sorocaba</h1>
        <p>No dia 25/11/2017 aconteceu o primeiro meetup da comunidade Xamarin Sorocaba com apoio da SoroCódigos.</p>
        <a class="btn btn-primary btn-lg" href="#">Saiba mais!</a>
      </div>
      <!-- /.col-md-4 -->
    </div>
    <!-- /.row -->
  
    <!-- Call to Action Well -->
    <!-- <div class="card text-white bg-secondary my-4 text-center">
      <div class="card-body">
        <p class="text-white m-0">Veja nossos posts atuais!</p>
      </div>
    </div> -->
  
    <!-- Content Row -->
  
    <div class="row">
      <!-- <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
            <h2 class="card-title">{{ news[0].titulo }}</h2>
            <p class="card-text">{{ news[0].texto }}</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Saiba mais!</a>
          </div>
        </div>
      </div> -->
      <!-- /.col-md-4 -->
      <!-- <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
              <h2 class="card-title">{{ news[1].titulo }}</h2>
              <p class="card-text">{{ news[1].texto }}</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Saiba mais!</a>
          </div>
        </div>
      </div> -->
      <!-- /.col-md-4 -->
      <!-- <div class="col-md-4 mb-4">
        <div class="card h-100">
          <div class="card-body">
              <h2 class="card-title">{{ news[2].titulo }}</h2>
              <p class="card-text">{{ news[2].texto }}</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Saiba mais!</a>
          </div>
        </div>
      </div> -->
      <!-- /.col-md-4 -->
  
    </div>
    
    <!-- /.row -->
  
  <!-- </div> -->
  <!-- /.container -->

